@import url('https://fonts.googleapis.com/css2?family=Avenir:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --yellow: #e6ca97;
  --rose: #e1a4a9;
  --white: #d9d9d9;
}

.app-container {
  padding: 20px;
  overflow: hidden; 
  font-family: 'Montserrat';
}

.title {
  text-align: center;
  font-size: 45px;
  margin-bottom: 5rem;
  font-family: 'Avenir';
}

.slider-wrapper {
  overflow-x: auto; 
  overflow-y: hidden; 
  display: flex; 
  gap: 20px;
  scroll-behavior: smooth; 
  margin: 0 auto; 
  width: 94%;
  margin-top: 3rem;
}

.slider-wrapper::-webkit-scrollbar {
  height: 1rem ; 
}

.slider-wrapper::-webkit-scrollbar-track {
  background-color: var(--white);
  -webkit-box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

.slider-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 10px;
  border: 10px solid #a7a0a0;
  cursor: pointer;
}

.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.prev-button,
.next-button {
  background: none;
  width: 2%;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.prev-button {
  left: -1rem; 
}

.next-button {
  right: -1rem; 
}

.product-card {
  flex: 0 0 calc(25% - 20px); 
  width: calc(25% - 20px);
  text-align: left; 
  box-sizing: border-box; 
}

.product-image {
  
  height: auto;
  max-height: 200px; 
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 1.5rem; 
}

.product-name {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Montserrat';
  font-weight: 500;
}

.product-price {
  font-size: 15px;
  color: #333;
  margin-bottom: .5rem;
  font-family: 'Montserrat';
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.product-rating {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.product-rating p {
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.rating-number {
  padding-top: .3rem;
}

.color-buttons {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
}

.color-button {
  border: 1px solid gray;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 5px;
  cursor: pointer;
}

.color-button.selected {
  outline: 2px solid #000;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 18px;
  color: var(--yellow);
  margin-right: 2px;
}

.star.empty {
  color: var(--white);
}

.full-star {
  color: var(--yellow); 
}

.half-star {
  color: var(--yellow); 
}

.empty-star {
  color: var(--white); 
}

.selected-product {
  margin-top: 1rem;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.filter-container {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  margin-bottom: 4rem;
}

.filter-container label {
  margin-right: .5rem;
  font-size: 16px;
}

.filter-container input {
  border-radius: .5rem;
  border: 1px solid var(--white);
  font-size: 16px;
  padding: .5rem;
}

.filter-button {
  border-radius: 1rem;
  background-color: var(--yellow);
  color: #000;
  width: 120px;
  font-size: 16px;
  cursor: pointer;
  padding: .5rem;
  border: none;
}

.filter-button:hover {
 box-shadow:  inset 0 0 5px gray;
}

.rating-select{
  font-size: 16px;
  margin-left: .5rem;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .product-card {
    flex: 0 0 calc(33.33% - 20px); 
  }
  /* .next-button,
  .prev-button {
    display: none;
  } */

  .filter-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    text-align: center;
  }

  .filter-inputs label {
    margin-bottom: .5rem;
  }
  
}

@media (max-width: 768px) {
  .product-card {
    flex: 0 0 calc(50% - 20px); 
  }
}

@media (max-width: 480px) {
  .slider-wrapper {
  display: flex;
  justify-content: left
  }

  .product-card {
    flex: 0 0 calc(100%); 
  }

  .product-details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .image-container {
    text-align: center;
  }
  .color-buttons {
    justify-content: center;
  }
  .product-rating {
    display: flex;
    justify-content: center;
  }

  .next-button,
  .prev-button {
    display: none;
  }
}
